html {
    background-color: rgba(0, 0, 0, 0.96);
}

body {
    color: rgba(245, 245, 245, 0.787);
}

h1 {
    color: rgba(245, 245, 245, 0.923);
    margin: 20px;
}

h2 {
    color: rgba(245, 245, 245, 0.923);
    margin: 20px;
}

.scoreboard{
    width: 400px;
    font-family: 'Quicksand', sans-serif
}

.scoreboard_time {
    font-size: 2em
}

.scoreboard_teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
}

.scoreboard {
    padding: 10px;
    text-align: center;
}

.scoreboard_name {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-size: 2em;
}

.scoreboard_name--home {
    color: #610095
}

.scoreboard_name--away {
    color: #05cd37
}

.scoreboard_score {
    font-size: 2em
}

.goal_text {
    color: #05cd37
}

.noti_text {
    color: #efd50f
}

.button {
    background-color: #06a52e;
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    display: inline-block;
}

.button:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    background-color: #0b5c20;
    color: rgb(218, 213, 213);
}